<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Amazing bookstore</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/css/main.css}" rel="stylesheet" />
</head>

<body>
    <div class="mainMenu">
        <a th:href="@{authorsMain}">
            <button  class="mainMenuButton">Authors</button>
        </a>
        <a th:href="@{booksMain}">
            <button class="mainMenuButton">Books</button>
        </a>
        <a th:href="@{newRating}">
            <button class="mainMenuButton">Add book rating</button>
        </a>
        <a th:href="@{usersMain}">
            <button class="mainMenuButton">Users</button>
        </a>
    </div>
    <div class="pageContent">
        <h1>List of authors</h1>
        <th:block th:each="author : ${authorsList}">
            <a th:href="@{editAuthor(id=${author.personId})}">
                <h2 th:text="${author.name} + ' ' + ${author.surname}">Name Surname</h2>
            </a>

        </th:block>

        <a th:href="@{newAuthor}">
            <button>Add new author</button>
        </a>
    </div>
</body>
</html>