<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Amazing bookstore</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/css/main.css}" rel="stylesheet" />
</head>

<body>
<div class="mainMenu">
    <a th:href="@{authorsMain}">
        <button  class="mainMenuButton">Authors</button>
    </a>
    <a th:href="@{booksMain}">
        <button class="mainMenuButton">Books</button>
    </a>
    <a th:href="@{newRating}">
        <button class="mainMenuButton">Add book rating</button>
    </a>
    <a th:href="@{usersMain}">
        <button class="mainMenuButton">Users</button>
    </a>
</div>
<div class="pageContent">
    <h1>List of books</h1>
    <th:block th:each="book : ${booksList}">
        <a th:href="@{editBook(id=${book.bookId})}">
            <h2 th:text="${book.bookName}">Name Surname</h2>
        </a>
        <a th:href="@{bookRatings(id=${book.bookId})}">see ratings</a>
    </th:block><br>

    <a th:href="@{newBook}">
        <button>Add new book</button>
    </a>
</div>
</body>
</html>