<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Amazing book database</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/css/main.css}" rel="stylesheet" />
</head>

<body>
<div class="mainMenu">
    <a th:href="@{authorsMain}">
        <button  class="mainMenuButton">Authors</button>
    </a>
    <a th:href="@{booksMain}">
        <button class="mainMenuButton">Books</button>
    </a>
    <a th:href="@{newRating}">
        <button class="mainMenuButton">Add book rating</button>
    </a>
    <a th:href="@{usersMain}">
        <button class="mainMenuButton">Users</button>
    </a>
</div>
<div class="pageContent">
   <h2 th:text="'Ratings of ' + ${book.bookName}"></h2>
    <th:block th:each="rating : ${book.ratings}">
        <div>
<!--            <h3 th:text="${rating.ratingAuthor.login} + ' (' + ${rating.ratingScore} + ' out of 10)'"  ></h3>-->
            <h3 th:text="${{rating}}"  ></h3>
            <p th:text="${rating.ratingComment}"></p>
        </div><br>
    </th:block>
</div>
</body>
</html>