<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Amazing book database</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/css/main.css}" rel="stylesheet" />
</head>

<body>
<div class="mainMenu">
    <a th:href="@{authorsMain}">
        <button  class="mainMenuButton">Authors</button>
    </a>
    <a th:href="@{booksMain}">
        <button class="mainMenuButton">Books</button>
    </a>
    <a th:href="@{newRating}">
        <button class="mainMenuButton">Add book rating</button>
    </a>
    <a th:href="@{usersMain}">
        <button class="mainMenuButton">Users</button>
    </a>
</div>
<div class="pageContent">
    <h2>New author</h2>
    <form th:action="@{createAuthor}" th:object="${author}">
        <label for="name">Name:</label><br>
        <input id="name" type="text" th:field="*{name}"/><br>
        <label for="surname">Surname:</label><br>
        <input id="surname" type="text" th:field="*{surname}"/><br>
        <label for="info">Information about author:</label><br>
        <textarea id="info" name="info" th:field="*{authorInformation}" rows="10" cols="30"></textarea><br>
<!--        <input id="info" type="te" th:field="*{authorInformation}"/><br>-->
        <label for="dob">Date of birth:</label><br>
        <input id="dob" type="date" th:field="*{dateOfBirth}"/><br><br>
        <button type="submit" value="Save">Save</button>
    </form>
</div>
</body>
</html>