<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Amazing book database</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/css/main.css}" rel="stylesheet" />
</head>

<body>
<div class="mainMenu">
    <a th:href="@{authorsMain}">
        <button  class="mainMenuButton">Authors</button>
    </a>
    <a th:href="@{booksMain}">
        <button class="mainMenuButton">Books</button>
    </a>
    <a th:href="@{newRating}">
        <button class="mainMenuButton">Add book rating</button>
    </a>
    <a th:href="@{usersMain}">
        <button class="mainMenuButton">Users</button>
    </a>
</div>
<div class="pageContent">
    <h2>New user</h2>
    <form th:action="@{createUser}" th:object="${user}">
        <label for="name">Name:</label><br>
        <input id="name" type="text" th:field="*{name}"/><br>
        <label for="surname">Surname:</label><br>
        <input id="surname" type="text" th:field="*{surname}"/><br>
        <label for="login">Login:</label><br>
        <input id="login" type="text" th:field="*{login}"/><br>
        <label for="password">Password:</label><br>
        <input id="password" type="password" th:field="*{password}"/><br><br>
        <button type="submit" value="Save">Save</button>
    </form>
</div>
</body>
</html>